body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle farthest-corner at 100px 50px, rgb(177, 177, 177), rgb(31, 31, 31));
}

div.playing-field {
    position: relative;
    height: 90vh;
    width: 135vh;
    margin: 0 auto;
    background: linear-gradient(#81a8cb, #cde6f9); 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media all and (orientation: portrait) { 
    div.playing-field {
        width: 90vw;
        height: 60vw;
    }
}


